*, *:before; *, *:after;{
	box-sizing: inherit;
	font-size: 62.5%;
}
.col-medium-3 li{
	display: inline-block;
	list-style: none;
	margin: 5%;
}

.nav-bar{
	background: #E1E1E1;
	padding: 5px;
	list-style: none;
	display: inline-block;
	list-style: block;
	width: 100%;
}

.nav-bar li{
	padding: 2rem;
	float: right;
}



.slider-img img{
	height: 15%;
	width: 15%;
	text-align: center;
}
